@using Microsoft.AspNetCore.Components.Web
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@inject StateService stateService
@using System.Text.Json;
@inject IJSRuntime JSRuntime
@inject IHttpContextAccessor HttpContextAccessor
@{ 
    var appState = stateService.GetAppState();
}

<!DOCTYPE html>
<html lang="en" data-toggled="double-menu-open" @attributes="GetHtmlAttributes()" style="@GetStyles()">

<head>

    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Label verification system </title>
    <meta name="Description" content="Label verification system double scanning process">
    <meta name="Author" content="MachSoft">
	<meta name="keywords" content="label verification system">
    
    <base href="/" />

    <!-- Favicon -->
    <link rel="icon" href="@($"{NavigationManager.BaseUri}assets/images/brand-logos/favicon.ico")" type="image/x-icon">
    
    <!-- MudBlazor Css -->
    <link href="@Assets["_content/MudBlazor/MudBlazor.min.css"]" rel="stylesheet" />

    <!-- Style Css -->
    <link href="@($"{NavigationManager.BaseUri}assets/css/styles.min.css")" rel="stylesheet" >
    
    <!-- Icons Css -->
    <link href="@($"{NavigationManager.BaseUri}assets/css/icons.css")" rel="stylesheet" >

    <!-- Auto Complete CSS -->
    <link rel="stylesheet" href="@($"{NavigationManager.BaseUri}assets/libs/@tarekraafat/autocomplete.js/css/autoComplete.css")">

    <!-- ColorPicker CSS -->
    <link href="_content/BlazorColorPicker/colorpicker.css" rel="stylesheet" />
    <link href="_content/BlazorColorPicker/BlazorColorPicker.bundle.scp.css" rel="stylesheet" />

    <!-- Flatpickr Css -->
    <link href="_content/FlatpickrBlazor/flatpickr.min.css" rel="stylesheet" />
    <link href="_content/FlatpickrBlazor/plugins/monthSelect/style.css" rel="stylesheet" />

    <link rel="stylesheet" href="@Assets["starterkit.styles.css"]" />

    <ImportMap />
    
    <HeadOutlet @rendermode="InteractiveServer" />

</head>

<body>

    <Routes @rendermode="InteractiveServer" />

    <!-- Auto Complete JS -->
    <script src="@($"{NavigationManager.BaseUri}assets/libs/@tarekraafat/autocomplete.js/autoComplete.min.js")"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var scriptUrls = [

                "_content/FlatpickrBlazor/flatpickr.min.js",
                "_content/FlatpickrBlazor/flatpickr.blazor.js",
                "_content/FlatpickrBlazor/l10n/de.js",
                "_content/FlatpickrBlazor/plugins/monthSelect/index.js",
                "_content/FlatpickrBlazor/plugins/minMaxTimePlugin.js",

                "../assets/js/custom.js",
            ];

            scriptUrls.forEach(function (url) {
                var script = document.createElement("script");
                script.src = url;
                document.body.appendChild(script);
            });
        });
    </script>

    <script src="@Assets["_content/MudBlazor/MudBlazor.min.js"]"></script>
    <script src="_framework/blazor.web.js"></script>
    <script src="js/javaScriptInterop.js"></script>
    <script src="js/resizeInterop.js"></script>

    <script>
        function CaptureElementAndCallBlazorFunction(event, menuData) {
            var element = event.currentTarget;
            var menuId = element.dataset.menuId;
            window.DotNet.invokeMethodAsync("vyzor.SubNavMenu", "TriggerFunction", element, menuData, null);
        }
    </script>

</body>

</html>

    @code {
        private AppState? appState; 
        private bool isStateInitialized = false;

        protected override void OnInitialized()
        {
            if (!isStateInitialized)
            {
                appState = stateService.GetAppState();
                isStateInitialized = true; // Mark as initialized
            }
        }

        private IDictionary<string, object> GetHtmlAttributes()
        {
            var attributes = new Dictionary<string, object>();
            if (!string.IsNullOrEmpty(appState?.Direction))
                attributes.Add("dir", appState.Direction);
            if (!string.IsNullOrEmpty(appState?.NavigationStyles))
                attributes.Add("data-nav-layout", appState.NavigationStyles);
            if (!string.IsNullOrEmpty(appState?.LayoutStyles))
                attributes.Add("data-vertical-style", appState.LayoutStyles);
            if (!string.IsNullOrEmpty(appState?.ColorTheme))
                attributes.Add("data-theme-mode", appState.ColorTheme);
            if (!string.IsNullOrEmpty(appState?.HeaderColor))
                attributes.Add("data-header-styles", appState.HeaderColor);
            if (!string.IsNullOrEmpty(appState?.MenuColor))
                attributes.Add("data-menu-styles", appState.MenuColor);
            if (!string.IsNullOrEmpty(appState?.MenuStyles))
                attributes.Add("data-nav-style", appState.MenuStyles);
            if (!string.IsNullOrEmpty(appState?.PageStyles))
                attributes.Add("data-page-style", appState.PageStyles);
            if (!string.IsNullOrEmpty(appState?.WidthStyles))
                attributes.Add("data-width", appState.WidthStyles);
            if (!string.IsNullOrEmpty(appState?.MenuPosition))
                attributes.Add("data-menu-position", appState.MenuPosition);
            if (!string.IsNullOrEmpty(appState?.HeaderPosition))
                attributes.Add("data-header-position", appState.HeaderPosition);
            if (!string.IsNullOrEmpty(appState?.BackgroundImage))
                attributes.Add("data-bg-img", appState.BackgroundImage);

            return attributes;
        }

        private string GetStyles()
        {
            var style = "";
            if (!string.IsNullOrEmpty(appState?.ThemePrimary))
                style += $"--primary-rgb: {appState.ThemePrimary}; ";
            if (!string.IsNullOrEmpty(appState?.ThemeBackground))
            {
                style += $"--body-bg-rgb: {appState.ThemeBackground}; ";
                style += $"--body-bg-rgb2: {appState.ThemeBackground1}; ";
                style += $"--light-rgb: {appState.ThemeBackground1}; ";
                style += $"--form-control-bg: rgb({appState.ThemeBackground1}); ";
                style += $"--gray-3: rgb({appState.ThemeBackground1}); ";
                style += $"--light-rgb: rgba(255,255,255,0.1); ";
            }
            return style;
        }
    }